@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #891134;
  --primary-light: #C11432;
  --secondary: #240E35;
  --dark: #55595c;
  --black: #000;
  --white: #fff;
  --light: #eee;
  --yellow: #FFBD13;
  --blue: #4383FF;
  --blue-d-1: #3278FF;
  --grey: #AAA;
  --shadow: 8px 8px 30px rgba(0, 0, 0, .05);
}

html,
body {
  overscroll-behavior: none;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  transition: all .3s ease;
}

.btn.btn-main {
  background-image: linear-gradient(260deg, var(--secondary) 8%, var(--primary) 66%);
}

.btn.btn-dark {
  background: var(--secondary);
  border: 2px solid var(--light);
}

.btn {
  border-radius: 5px 5px 5px 5px;
  background-color: transparent;
  text-transform: uppercase;
  padding: 12px 20px;
  color: white;
  letter-spacing: 1px;
  font-size: 14px;
  border: 0;
  transition: all .3s ease;
}

.btn.btn-main:hover,
.btn.btn-dark:hover,
.footericons .ico:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px 0px #00000047;
  color: white;
  border-color: var(--white);
}

.dark :is(input, textarea)::placeholder {
  color: #a6a6a6 !important;
}

.navigation-wrap {
  /* position: sticky; */
  top: 0;
  /* position: fixed;
  top: 0;
  left: 0; */
  /* position: relative; */
  width: 100%;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 99;
}

.bg-main {
  background-color: var(--primary);
  background-image: none !important;
}

.bg-main-light {
  background-color: var(--primary-light);
  background-image: none !important;
}


.bg-secondary {
  background-color: var(--secondary) !important;
  background-image: none !important;
}

.navigation-wrap+div {
  /* transform: translateY(106px) !important;
  margin-bottom: 106px; */
}



footer .nav-item::before {
  display: none;
}

.text-main {
  color: var(--primary-light);
}

.navbar {
  padding: 0;
}

.navbar-brand img {
  /* height: 28px;
  width: auto;
  display: block;
  filter: brightness(10%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; */
}

.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: var(--white);
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
  top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.nav-link {
  color: #212121 !important;
  font-weight: 500;
  transition: all 200ms linear;
}

.nav-item:hover .nav-link {
  color: var(--primary) !important;
}

.nav-item.active .nav-link {
  color: var(--dark) !important;
}

.nav-link {
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
}

.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  content: '';
  background-color: var(--primary);
  opacity: 0;
  transition: all 200ms linear;
}

.nav-item:hover:after {
  bottom: 0;
  /* opacity: 1; */
}

.nav-item.active:hover:after {
  opacity: 0;
}

.nav-item,
.anotherLink {
  position: relative;
  transition: all 200ms linear;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: 40px;
  transform: translateY(-50%);
  z-index: 20;
}

@media (max-width:768px) {
  .btn {
    font-size: 12px;
    padding: 8px 18px;
  }

  .blogo {
    width: 100px;
    height: 64px;
  }
}